/* Importando fontes */
@font-face {
    font-family: 'MazzardHLight';
    src: url('fonte/mazzard-h-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MazzardLBold';
    src: url('fonte/mazzard-l-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MazzardLMedium';
    src: url('fonte/mazzard-l-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MazzardLThin';
    src: url('fonte/mazzard-l-thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MazzardMBlack';
    src: url('fonte/mazzard-m-black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
:root{
    --verdeButton: #00974a;
    --cinza: #989898;
}


.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 190px;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: 'MazzardLMedium';
}
a{
    font-style: none;
    text-decoration: none;
    color: var(--cinza);
}

li > img {
    width: 190px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: var(--cinza);
    padding: 10px;
    width: 100px;
    flex-direction: column;
}
.dropdown-content a{
    color: black;

}

button {
    cursor: pointer;
    background-color: var(--verdeButton);
    padding: 4px;
    width: 163px;
    height: 42px;
    color: white;
    border-style: none;
    font-family: 'MazzardLMedium';
    font-size: 21px;
    border-radius: 7px;
    margin-right: 20px;
}

.containerHero{
    display: flex;
}
.direitaCont{
    width: 50%;
}
.esquerdaCont{
    width: 50%;
}
.imgHero img{
    width: 90%;
}

.titulo{
    font-family: 'mazzardLMedium';
}
.titulo h1{
    font-size: 74px;
}
.paragrafo{
    font-family: 'mazzardLThin';
}
.paragrafo p {
    font-size: 36px;
}
